
body {
    background-color: #000;
    color: #fff;
    text-align: center
}

.container {
    width: 700px;
    margin: 0 auto;
}

.points-table {
    border-collapse: collapse;
}

.points-table, thead, thead td {
    border-collapse: collapse;
    border: 3px solid #fff;
}

th, 
tr, 
td {
    border: 1px solid #fff;
    padding: 5px;
}

button {
    font-weight: bolder;
}

.new-player {
    margin: 50px 0;
    display: block;
}
