body {
    font-family: 'Roboto Mono',monospace;
    background-image: url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.main-title {
    text-align: center;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
}

.search-button {
    background-color: #f00;
    border-radius: 3px;
    font-size: 100%;
    font-weight: bolder;
    margin: 20px;
    padding: .5% 1%;
}

.show-movie {
    display: inline-block;
    text-align: center;
}

.show-movie > a {
    display: inherit;
    margin: 15px;
}
  